{% extends "wide_pages.html" %}

{% block headerJS %}
<link href="{{ MEDIA_URL }}uni_form/uni-form.css" media="all" rel="stylesheet"/>
<link href="{{ MEDIA_URL }}uni_form/default.uni-form.css" media="all" rel="stylesheet"/>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}uni_form/uni-form.jquery.js"></script>

<script type="text/javascript">
 	$(function(){
		$('form.uniForm').uniform();
 	});
 
 	$(document).ready(function(){
		$('#id_password').focus()
	}); 
</script>
{% endblock headerJS %}

{% block page_title %}Create an Account{% endblock page_title %}

{% block title%}Create an Account on GizmoBooks.com{% endblock title%}	

{% load uni_form_tags %}
{% block sub_content %}
Since you already entered the information, why not create an account? Just create a password.
<div class="post">
	<form method="post" class="uniForm" action="{% url registration_save_password %}">{% csrf_token %}
		{{ form|as_uni_form }}
		<div class="buttonHolder">
        	<button type="submit" class="primaryAction">Create Account</button>
			<a href="{% url post_complete %}">Skip</a> 
   		</div>
	</form>
</div>

{% endblock sub_content %}